.sliderContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}